<div class="container">
  <% if (user) { %>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <p>Welcome, <%= user.name %>!</p>
      <div style="display: flex;">
        <% if (user.role === "admin") { %>
            <form action="/admin" method="GET" style="margin: 10px; ">
                <button type="submit" class="btn btn-primary">Admin Dashboard</button>
            </form>
          <% } %>
          <form action="/logout" method="POST" style="margin: 10px;">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
      </div>

      
    </div>
  <% } %>


  <h1 class="page-header">Reminders</h1>

  <ul class="list-group">
    <% reminders.forEach(function (reminderItem) { %>
      <li class="list-group-item">
        <strong><%= reminderItem.title %>: </strong>
        <%= reminderItem.description %>
        || Completed:
        <% if (reminderItem.completed == true) { %>
          <span class="badge badge-success">True</span>
        <% } else if (reminderItem.completed == false) { %>
          <span class="badge badge-danger">False</span>
        <% } %>
        <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
      </li>
    <% }) %>
  </ul>

</div>